@font-face {
  font-family: 'Robust';
  src: url('assets_css/Robust medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Robust';
  src: url('assets_css/Robust bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Robust';
  src: url('assets_css/Robust regular.ttf') format('truetype');
}

body, header, footer {
  margin: 0;
  padding: 0;
}

/* Navbar Styles */
header {
  background-image: url('assets_css/NavBar.png');
  background-size: cover;
  background-position: center;
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav{
  position: fixed;
  z-index: 2;
  width: 100vw;
  background-image: url('assets_css/NavBar.png');
  background-size: cover;
  background-position: center;
  height: 10vh;
  display: flex;

}
.nav-icon-container{
  width: 40%;
  height: 10vh;



}
.nav-icon{
  height: 10vh;
  width: 10vh;
  background-image: url("../img/iconNavBar.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 2vw;
}
.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  height: inherit;
  width: 60vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}


.nav-links a {

  text-decoration: none;
  margin-right: 4vw;
  color: white;
  font-family: Robust, sans-serif;
  font-weight: bold;
  font-size: 3em;
}

/* Body styles */
body {
  background-color: #0E0E0E;
  color: #ffffff;
}

/* Section home */
#home {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.BGSplash-container {
  width: 50vw;
  height: 50vh;
}

.googlePlay-container, .apple-container {
  display: inline-block;
  width: 10vw;
}

#apple {
  width: 100%;
  margin-left: 7vw;
  margin-top: -6vh;
}

#googlePlay {
  width: 100%;
  margin-left: 3vw;
  margin-top: -6vh;
}

#BGSplash {
  width: 100%;
  margin-left: 40vw;
  margin-top: 10vh;
}
#BGSplash2 {
  width: 100%;
  margin-right: 40vw;

}

.content-left-home {
  margin-left: 2vw;
  margin-top: -30vh;
  text-align: left;
  color: white;
  width: 40%;
}
.sub-content-left-home{
  width: 75%;

}
.content-left-home p:first-child {
  font-family: Robust, sans-serif;
  font-size: 4.5em;
}

.content-left-home p:last-child {
  font-family: Robust, sans-serif;
  font-size: 2.5em;
  font-style: italic;
}

.content-left-home p em {
  font-weight: bold;
  font-style: normal;
}

/* Section About */
#about {
  height: 100vh;
  position: relative;
}

#about {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-image: url('assets_css/Icon White.png');
  background-size: 40% auto;
  background-position: right 5vw center;
  background-repeat: no-repeat;
}

.content-right-about {
  margin-right: 6vw;
  margin-top: -20vh;
  text-align: left;
  color: white;
  width: 35%;
}

.content-right-about h1 {
  font-family: Robust, sans-serif;
  font-size: 5em;
  font-weight: bold;
}

.content-right-about p {
  font-family: Robust, sans-serif;
  font-size: 2em;
  font-weight: normal;
}

/* Section Contact us */

#contact {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.contact-section {
  background-image: url('../img/BGColumns.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 width: auto;
;
}

.contact-content {
  text-align: center;
  margin-bottom: 10vw;
}

.contact-content h1 {
  font-family: Robust, sans-serif;
  font-size: 5em;
  font-weight: bold;
}

.contact-content p {
  font-family: Robust, sans-serif;
  font-size: 2.5em;
  font-weight: normal;
}


#form-container {
  align-items: center;
  width: 100%;
}

.input-container {
  margin-bottom: 2.5vw;
  border-radius: 16px;
  width: 100%;
  height: 100%;
  -webkit-box-shadow:0px 0px 122px 0px rgba(123,0,254,0.98);
  -moz-box-shadow: 0px 0px 122px 0px rgba(123,0,254,0.98);
  box-shadow: 0px 0px 122px 0px rgba(123,0,254,0.98);
  background-color: transparent;

}

.input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 16px;
  font-family: Robust;
  font-weight: normal;
  color: black;
  font-size: 1.5em;
  -webkit-box-shadow:0px 0px 39px 11px rgba(123,0,254,1);
  -moz-box-shadow: 0px 0px 39px 11px rgba(123,0,254,1);
  box-shadow: 0px 0px 39px 11px rgba(123,0,254,1);
}

textarea {
  font-family: Robust;
  width: 100%;
  height: 10vh;
  border: none;
  border-radius: 16px;
  font-weight: normal;
  color: black;
  font-size: 1.5em;
  padding: 5px;
  -webkit-box-shadow:0px 0px 39px 11px rgba(123,0,254,1);
  -moz-box-shadow: 0px 0px 39px 11px rgba(123,0,254,1);
  box-shadow: 0px 0px 39px 11px rgba(123,0,254,1);
}

#message-container{
  height: 8vh;

}

#send-btn-container {
  text-align: center;
  border-radius: 16px;
  font-family: Robust, sans-serif;
  font-weight: bold;
  color: black;
  font-size: 2em;
}

.btn {
  margin-top: 4vh;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  width: 40%;
  background-color: #4900fe;
  color: white;
  -webkit-box-shadow:0px 0px 39px 11px rgba(123,0,254,1);
  -moz-box-shadow: 0px 0px 39px 11px rgba(123,0,254,1);
  box-shadow: 0px 0px 39px 11px rgba(123,0,254,1);
}



/* Section footer */
footer {
  background-color: #FFFFFF;
  height: 15vh;
  display: flex;
  justify-content: left;
  align-items: center;
}

#footer-info p {
  text-align: left;
  color: gray;
  font-family: Robust;
  font-weight: bold;
  font-size: 2em;
  margin-left: 5vw;
}
